body { 
  font: 14px sans-serif; 
}

.container {
  border: 1px solid;
  border-color: #9a9a9a;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  width: 350px;
  margin: 50px auto;
}

h2 {
  text-align: left;
  font-weight: bold;
}

label {
  font-weight: normal;
}